<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= config.title %></title>
    <link href="<%= url_for('/public/main.css') %>" rel="stylesheet">
    <script>
        window.__hexoConfig = <%- JSON.stringify(config) %>;
        window.__hexoSite = <%- JSON.stringify(site) %>;
        window.__hexoTheme = <%- JSON.stringify(theme) %>;
    </script>
</head>
<body class="overscroll-none">
<div id="app"></div>

<script type="module" src="<%= url_for('/js/main.js') %>"></script>
</body>
</html>
